.dashboard-header {
    //outline: 1px solid black;
    box-sizing : border-box;
    margin-top : 0px;
    padding : .5rem 1rem;
    display: flex;
    justify-content: space-between;
    background-color: $color-gray-2;
    & > div {
        //outline: 1px solid green;
        min-height: 50px;
    }

    .left-side {
        display : flex;
        justify-content: center;
        align-items: center;
        & h5 {
            display: inline;
            font-weight: $fw-minibold;
        }

        & svg {
            @include svg-icon($size : 16px, $stroke:2);
            margin:  0 4px;
        }
    }
    .right-side {
        //outline: 1px solid purple;
        //flex-basis: 30%;
        height: 100%;
        display : flex;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        & > * {
            margin:  0 5px;
            //outline: 1px solid black;
            box-sizing: border-box;
            padding: 7px;
            border-radius: 50%;
            //height: 100%;
            &:hover {
                background-color: $color-hover;
                cursor: pointer;
                //transition: background-color .3s ease-out;
            }
        }

        & .search-block {
            position: relative;
            //width: fit-content;
            //height: 25px;
            //height: 40px;
            //width: 40px;
            
            &--active {
                background-color: unset;
                &:hover {
                    background-color: unset;
                }
            }
        }

        & .notif-block {
            //width: 40px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            & > svg {
                @include svg-icon($size : 28px);
                color:  inherit;
            }
        }

        & .user-profile {
            padding: 6px;
            position: relative;
            & .profile-container {
                @include profile-image ($size : 30px);
                &--letter {
                    box-sizing : border-box;
                    //outline : 1px solid red;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    //background-color: rgba(165, 42, 42, 0.5);
                    padding: 2px;
                    outline: 2px solid $loading-color;
                    &:hover {
                        outline : unset
                    }
                    & > svg {
                        @include svg-icon($size : 24px);
                        //outline : 1px solid red;
                    }
                }
            }

            & .dropdown-profile {
                position : absolute;
                //width: fit-content;
                min-width: 150px;
                right : 50%;
                top : 100%;
                margin-top : 5px;
            }

            &--active {
                background-color: $color-hover;
                & .profile-container {
                    outline: unset;
                }
            }

        }
        & .float-menu-icon {
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }
    
}