
.input-container {
    position: relative;
    box-sizing: border-box;
    font-size: $f-normal;
    
    height: 100%;
    
    & > svg {
        @include svg-icon($size : 1.5em);
        position: absolute;
        top : 50%;
        left : .4em;
        transform: translateY(-50%);
        color : inherit;
    }
    & > input, textarea {
        @extend %base-input;
        width : 100%;
        min-height: 25px;
        padding: .5em;
        padding-left: 2.1em;
        box-sizing: border-box;
        font-family: inherit;
        font-size: inherit;
        
        
    }
    & > textarea {
        padding-left: .5em;
    }
    & > .search-input {
        padding-left: .5em;
    }
    & .radio-box > p {
        position : relative;
        box-sizing: border-box;
    }
    & .radio-box > p > input[type="radio"]:checked, & .radio-box > p > input[type="radio"]:not(:checked) {
        position : absolute;
        left: -0.0625em;
        //top : 1px;
        transform : translateY(0.0625em);
        opacity: 0;
        z-index: 2000;
        cursor : pointer ;
        & + label {
            position: relative;
            padding-left: 1.75em;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            //color: #666;
            //outline : 1px solid black;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 1em;
                height: 1em;
                border: 2px solid $color-gray-4;
                border-radius: 100%;
                background: #fff;
            }
            &:after {
                content: '';
                width: 0.75em;
                height: 0.75em;
                background: $color-secondary;
                position: absolute;
                top: .3em;
                left: .25em;
                //outline : 6px solid black;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
        }
        /*&:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        &:not(:checked) + label:after {
            
        }*/
    }
    & .radio-box > p > input[type="radio"]:not(:checked) + label:after {
            opacity: 0;
            //-webkit-transform: scale(0);
            //transform: scale(0);
    }
    & .radio-box > p > input[type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
    }

    &--no-icon {
        & > input {
            padding-left: .5em;
        }
    }
    
}
.country-code {
    .country-dial {
        position : absolute;
        top : 50%;
        //left : .4em;
        transform: translateY(-50%);
        //outline : 1px solid black;
        padding : 0.4em
    }
    & input {
        padding-left: 103px;
    }
}
.country {
    & input {
        padding-left: 75px;
    }
}
.radio-container {
    
    
    .radio-box {
        display : grid;
        grid-template-columns: auto auto auto;
        grid-gap: 2px 20px;
        justify-items: center;
        justify-content : center;
        align-items : center;

        &--two {
            grid-template-columns : auto auto;
            grid-gap : 15px 20px;
            & p {
                //outline : 1px solid green;
                min-width : 130px;
            }
        }
    }

    .check-box {
        display : grid;
        grid-template-columns: auto auto auto;
        grid-gap: 2px 20px;
        justify-items: center;
        justify-content : center;
        align-items : center;

        &--two {
            grid-template-columns : auto auto;
            grid-gap : 15px 20px;
            & p {
                min-width : 130px;
            }
        }
    }
}
.select-container {
    //outline : 1px solid black;
    & > svg {
        //right: .4em;
        left : calc(100% - 1.9em);
    }
    & > input {
        padding-left: .5em;
    }
    ul {
        position: absolute;
        display: block;
        bottom: 100%;
        margin-bottom : 5px;
        max-height : 300px;
        width : 100%;
        padding : 10px 0;
        background-color: $color-white;
        overflow-y: hidden;
        box-shadow : $box-shadow-1 , $box-shadow-1;
        flex-direction: column;
        scroll-behavior: smooth;
        scrollbar-color: $color-primary-2;
        scrollbar-width: thin;
        border-radius : 5px;
        &:hover {
            overflow: auto;
            overflow-y: overlay;
            overflow-x: hidden;
            
        }
        &::-webkit-scrollbar{
            //margin : 15px 0;
            width: 5px;
            height: 20px;
        }
        &::-webkit-scrollbar-track {
            margin : 15px 0;
            box-shadow: inset 0 0 5px #f5f6f7;
            border-radius: 5px;
        }
        &::-webkit-scrollbar-thumb {
            background: $color-primary-2;
            border-radius: 5px;
        }
        li {
            display: flex;
            padding: .5rem;
            align-items : center;
            cursor: pointer;
            & >span {
                margin-left: 15px;
            }
            &:hover {
                background-color: $color-hover;
            }
        }
    }
    .optionList {
        display : none
    }
}
.file-container {
    width : 100%;
    .file {
        width : 100%;
        button {
            @extend %btn-file;
            display : flex;
            justify-content : center;
            align-items : center;
            width :  100%;
            & svg {
                @include svg-icon($size : 1.2em, $stroke : 2);
                color : $color-dark;
                margin-right : 15px;
            }
            &:hover svg {
                color : $color-white;
            }

        }

        & input[type="file"] {
            display : none;
        }

        &--selected {
            button {
                background-color: $color-secondary;
                border-color : $color-secondary;
            }
        }
    }
}
.input-search {
    height: 100%;
    //outline: 1px solid red;
    width : fit-content;
    & > svg {
        left: unset;
        right: .4em;
        //z-index: 2;
    }
    & .search-icon {
        @include svg-icon($size : 28px);
        display: block;
        position: relative;
        transform: unset;
        right : 0;
        
    }
    & .close-search-icon {
        z-index : 5;
    }
    & .search-input {
        transform: translateY(-100%);
        transition: transform .3s ease-out;
        &--active {
            transform: translateY(0%);
            transition: transform .3s ease-out;

        }
    }
}