.sup-container {
    position: relative;
    min-height: 100vh;
    width  : 100%;
    //outline: 3px solid red;
    margin : 0;
    padding:  0;
    display : flex;
    //justify-content: center;
    justify-content: flex-end;
    align-items: space-between;
    //align-items: flex-end;
    //overflow-x: hidden;
    .layout-side {
        //flex-basis : 200px;
        box-sizing: border-box;
        //padding : 20px 10px;
        min-width: 250px;
        max-width: 250px;
        position: fixed;
        left: 0;
        top : 0;
    }
    .layout-content {
        //outline: 1px solid purple;
        flex-grow : 1;
        max-width: calc(100% - 250px);
        padding: 0 0 5px 0;
    }
    

}